<div>
    <h1>Voeg nieuwe klant toe:</h1>
    <form [formGroup]="form">
        <label for="firstName">Voornaam:</label>
        <input name="firstName" type="text" formControlName="firstName">
        <br />

        <label for="lastName">Achternaam:</label>
        <input name="lastName" type="text" formControlName="lastName">
        <br />

        <label for="email">E-mail:</label>
        <input name="email" type="text" formControlName="email">
        <br />

        <label for="street">Straatnaam:</label>
        <input name="street" type="text" formControlName="street">
        <label for="houseNumber">Huisnummer:</label>
        <input name="houseNumber" type="text" formControlName="houseNumber">
        <br />

        <label for="zipCode">Postcode:</label>
        <input name="zipCode" type="text" formControlName="zipCode">
        <label for="city">Gemeente:</label>
        <input name="city" type="text" formControlName="city">
        <br />

        <input type="submit" (click)="onSubmit()" value="Voeg toe" [disabled]="form.invalid">
    </form>
</div>